@charset "utf-8";

/* --------------------------------------------
 * HanbitSoft Service Development Team
 * 탬플렛 프로토타입 Stylesheet
 * Author - jhkim88@hanbitsoft.co.kr 20151231
----------------------------------------------- */

/* CSS Reset
-------------------------------------------------------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, strong, small, dl, dt, dd, ol, ul, li, fieldset, form, input, button{margin:0; padding:0; font-size:100%;}
img, fieldset, button{border:0;}
body, input, button, textarea, select, table{line-height:1; font-family:'Malgun Gothic','맑은 고딕','돋움', dotum, AppleGothic; font-size:12px; color:#000;}
ol, ul{list-style:none;}
button, label{cursor:pointer;}
button::-moz-focus-inner, input::-moz-focus-inner{padding:0; border:0;}
strong {font-weight:normal}
/* Reserved Class
-------------------------------------------------------------- */
.irPm{display:block; overflow:hidden; font-size:0px; line-height:0; text-indent:-9999px;}
.irWa{display:block; overflow:hidden; position:relative; width:100%; height:100%; z-index:-1;}
.blind{width:1px; height:1px; font-size:0; line-height:0; position:absolute; top:0; left:-1000%; overflow:hidden;}
.show{display:block;}
.hide{display:none;}
.fL{float:left;}
.fR{float:right;}
.clearFix{zoom:1;}
.clearFix:after{clear:both; display:block; content:'';}

/* Styles
-------------------------------------------------------------- */
html, body{width:100%;height:100%;}
#wrap{position:relative;width:100%;height:100%;}
#move_wrap{position:relative;background-color:#ffffff;min-height:100%;z-index:10}
#gnb_wrap{display:none;position:fixed;top:0;float:none;width:100%;height:100%;z-index:30;}
#gnb{position:absolute;top:0;bottom:0;width:300px;height:100%;background-color:#242529;z-index:50;}
#header{position:fixed;top:0;width:100%;height:52px;background-color:#666666;text-align:center;}
#container{background-color:#ffffff;height:100%;padding:52px 0 95px 0;}
#footer{position:absolute;bottom:0;left:0;width:100%;padding:38px 0;border-top:1px solid #000000;background-color:#3b3c41;text-align:center;font-size:12px;line-height:18px}
#dimmed{position:absolute;top:0;right:0;bottom:0;left:0;background-color:#000000;opacity:0;z-index:40;}
#logo{display:inline-block;overflow:hidden;font-size:42px;vertical-align:top;width:88px;height:52px;background-color:#00aabb;}

#gnb_btn{position:absolute;width:52px;height:52px;top:0;left:0;}
#gnb_btn span{display:inline-block;overflow:hidden;line-height:999px;vertical-align:top;width:100%;height:100%;background-color:#00aabb;}
#gnb_btn.on span{background-color:#ccbbaa;}
#footer a:link, #footer a:visited {color:#ffffff;}