@charset "utf-8";

/* ----------------------------------------------
 * HanbitSoft Service Development Team
 * GE 캐릭터 미리보기 율리아나 Stylesheet
 * Author - jhkim88@hanbitsoft.co.kr 20160113
------------------------------------------------- */

/* CSS Reset
-------------------------------------------------------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, strong, small, dl, dt, dd, ol, ul, li, fieldset, form, select, input, button, label{margin:0; padding:0; font-size:100%;}
img, fieldset, button{border:0;}
body, input, button, textarea, select, table, kbd{line-height:1.2; font-family:'돋움', dotum, Helvetica, sans-serif; font-size:12px; color:#000;}
img{vertical-align:middle;}
ol, ul{list-style:none;}
button, label{cursor:pointer;}
button::-moz-focus-inner, input::-moz-focus-inner{padding:0; border:0;}
table{border-collapse:collapse; border-spacing:0;}
caption, legend{width:0; height:0; font-size:0; line-height:0; text-indent:-9999px; visibility:hidden;}

/* Reserved Class
-------------------------------------------------------------- */
.irPm{display:block; overflow:hidden; font-size:0px; line-height:0; text-indent:-9999px;}
.irWa{display:block; overflow:hidden; position:relative; width:100%; height:100%; z-index:-1;}
.blind{width:1px; height:1px; font-size:0; line-height:0; position:absolute; top:0; left:-1000%; overflow:hidden;}
.show{display:block;}
.hide{display:none;}
.fL{float:left;}
.fR{float:right;}
.clearFix{zoom:1;}
.clearFix:after{clear:both; display:block; content:'';}

/* Styles
-------------------------------------------------------------- */

html, body {width:100%;height:100%;background-color:#000;overflow:hidden;font-size:100%}
#wrap {position:relative;min-width:1000px;height:100%;margin:0 auto;}
#section_move_wrap{position:relative;width:100%;height:100%;top:0;}
.page_move_wrap{position:relative;width:100%;height:100%;top:0;}
.section {position:relative;width:100%;height:100%;background-color:#b63a0e}
.page {position:relative;width:100%;height:100%;background-color:#b63a0e;float:left;}
.section0 {background:url(../images/bg0.jpg) center 0 no-repeat;}
.section1 {background:url(../images/bg1.jpg) center 0 no-repeat;}
.section1 .page0 {background:url(../images/page0.jpg) center 0 no-repeat;}
.section1 .page1 {background:url(../images/page1.jpg) center 0 no-repeat;}
.section2 {background:url(../images/bg2.jpg) center 0 no-repeat;}
.section3 {background:url(../images/bg3.jpg) center 0 no-repeat;}
.section4 {background:url(../images/bg4.jpg) center 0 no-repeat;}
.section4 .page0 {background:url(../images/page0.jpg) center 0 no-repeat;}
.section4 .page1 {background:url(../images/page1.jpg) center 0 no-repeat;}
.section4 .page2 {background:url(../images/page2.jpg) center 0 no-repeat;}
.section4 .page3 {background:url(../images/page3.jpg) center 0 no-repeat;}
.section5 {background:url(../images/bg2.jpg) center 0 no-repeat;}